node_modules/
build/
dist/
*.log
.env
.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
.pytest_cache/
test-report.html
assets/

*.pid

.idea/
.vscode/
*.swp
*.swo
*~
